html, body {
	font-family: "Trebuchet MS";
	color: #434343;
	margin: 0;
	background: #e4e4e4;
}

button {
	font-family: "Trebuchet MS";
	font-style: bold;
	text-align: center;
	background-color: black;
	color: white;
	border: none;
	font-size: 1em;
   	height: 2.4em;
	width: 6em;
	border-radius: 0.3em;
}

button:hover {
	background-color: #eeeeee;
}

#mainContainer {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 5em;
	width: 1140px;
}

#mainBanner {
	height: 168px;
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}

#contentSection {
	font-style: bold;
	font-size: 2em;
	background: white;
	text-align: center;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 0;
	margin-right: 0;
	height: 60em;
	border-style: solid;
	border-width: 1px;
	border-color: #434343;
}


/*---------- NAVIGATION BAR ----------*/
.navigationBar {
	overflow: hidden;
	background-color: #434343;
	font-family: "Trebuchet MS";
	margin-left: 0;
	margin-right: 0;
	margin-top: 1.5em;
	margin-bottom: 0;
	height: 3.3em;
}

.navigationBar a {
	float: left;
	font-size: 1.3em;
	color: white;
	text-align: center;
	padding: 0.75em 1.5em;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropdownButton {
	height: 2.6em;
	text-align: center;
	cursor: pointer;
	font-size: 1.3em;    
	border: none;
	outline: none;
	color: white;
	padding: 0.75em 1.3em;
	width: 8em;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navigationBar a:hover, .dropdown:hover .dropdownButton {
	background-color: #6d6d6d;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	font-size: 1.3em;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}


/*---------- REQUESTS ----------*/
#requestTable {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

.request {
	margin-top: 0em;
}

.acceptAlpha {
	background-color: white;
	color: #333333;
	position: relative;
	bottom: 4em;
	left: 3em;
}

.declineAlpha {
	background-color: white;
	color: #333333;
	position: relative;
	bottom: 4em;
	left: 5.5em;
}

.acceptBeta {
	background-color: white;
	color: #a4144f;
	position: relative;
	bottom: 4em;
	left: 3em;
}

.declineBeta {
	background-color: white;
	color: #a4144f;
	position: relative;
	bottom: 4em;
	left: 5.5em;
}